<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Signup</title>
</head>
<style>
    body{
        font-family: monospace;
    }
</style>
<body>
    <h1>SignUp</h1>
    <form action="/user" method="post">
        <label>Full Name</label>
        <input type="text" name="name"/>
        <label>Email</label>
        <input type="text" name="email"/>
        <label>Password</label>
        <input type="text" name="password"/>

        <button type="submit">SignUp</button>
    </form>
</body>
</html>